<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="/stylesheets/navbar.css"/>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        // var teams = <%= allTeams %>;
        var userId = <%= userId %>;
    </script>
    <script src="/javascripts/socket.js"></script>
    <script src="/javascripts/boards.js"></script>
    <script src="/javascripts/navbar.js"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav id="navbar">
        <ul class="left">
            <li id="boards-nav">
                <i class="fas fa-clipboard-list"></i> Boards
            </li>
            <li id="search-nav">
                <div id="show-search-input"></div>
                <div class="search-icon"><i class="fas fa-search"></i></div>
            </li>
        </ul>
        <ul class="right">
            <li id="notifications-nav"><i class="fas fa-bell"></i></li>
            <li id="profile-nav">HL</li>
        </ul>
    </nav>

    <div id="board-content">
        <div id="recently-viewed" class="team">
            <div class="team-heading">
                <i class="far fa-clock"></i><span class="team-name">Recently Viewed</span>
            </div>
            <div class="team-content">
                <!-- recent boards ejs -->
                <% for(let i=0; i<recentBoards.length; ++i) { %>
                    <div id=<%= recentBoards[i].id %> class="board-icon">
                        <a href=<%= '/b/'+recentBoards[i].id+'/'+recentBoards[i].name.replace(/ /g,'-') %> > <%= recentBoards[i].name %></a>
                    </div>
                <% } %>
            </div>
        </div>
        <div id="personal" class="team">
            <div class="team-heading">
                <i class="fas fa-user"></i><span class="team-name">Personal Boards</span>
            </div>
            <div class="team-content">
                <!-- personal boards ejs -->
                <% for(let i=0; i<personalboards.length; ++i) { %>
                    <div id=<%= personalboards[i].id %> class="board-icon">
                        <a href=<%= '/b/'+personalboards[i].id+'/'+personalboards[i].name.replace(/ /g,'-') %>><%= personalboards[i].name %></a>
                    </div>
                <% } %>
                <!-- add new board -->
                <button class="board-icon create-new-board-btn">Create New Board</button>
            </div>
        </div>
        <!-- all other teams ejs -->
        <% for(let i=0; i<teams.length; ++i) { %>
            <% let team = teams[i] %>
            <% let boards = team.boards %>
            <div id=<%= team.teamId %> class="team">
                <div class="team-heading">
                    <i class="fas fa-users"></i><span class="team-name"><%= team.teamName %></span><div class="add-member">+ Add Member</div>
                </div>
                <div class="team-content">
                    <% if (boards[0] != null) { %>
                        <% for(let j=0; j<boards.length; ++j) { %>
                            <div id=<%= boards[j].id %> class="board-icon">
                                <a href=<%= '/b/'+boards[j].id+'/'+boards[j].name.replace(/ /g,'-') %>><%= boards[j].name %></a>
                            </div>
                        <% } %>
                    <% } %>
                    <button class="board-icon create-new-board-btn">Create New Board</button>
                </div>
            </div>
        <% } %>
        <button id="create-new-team-btn">Create a new team...</button>
    </div>

    <div class="board-creation-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="input-container">
                <input type="text" id="board-title" placeholder="Add Board Title"/>
                <div id="modal-close-btn">X</div>
            </div>
            <button id="create-board-btn">Create Board</button>
        </div>
    </div>

    <div class="team-creation-container">
        <div id="form-close-btn">X</div>
        <h2>Create Team</h2>
        <form id="new-team-form">
            <p>Name</p>
            <input type="text" id="team-title-input"/>
            <p>Description (optional)</p>
            <textarea id="team-description-input"></textarea>
            <button id="create-team-btn">Create</button>
        </form>
    </div>

    <!-- board sidebar for navigation -->
    <div class="boards-sidebar">
        <div id="sideboards-content">
            <div class="team-item">
                <div class="team-heading">
                    <div class="team-name">teamo</div>
                    <div class="expand-btn">+</div>
                </div>
                <div class="team-boards">
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boardo</strong></div>
                    </div>
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boardie</strong></div>
                    </div>
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boarda</strong></div>
                    </div>
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boardodo</strong></div>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="team-heading">
                    <div class="team-name">teamie</div>
                    <div class="expand-btn">+</div>
                </div>
                <div class="team-boards">
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boardo</strong></div>
                    </div>
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boardie</strong></div>
                    </div>
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boarda</strong></div>
                    </div>
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boardodo</strong></div>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="team-heading">
                    <div class="team-name">teamo</div>
                    <div class="expand-btn">+</div>
                </div>
                <div class="team-boards">
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boardo</strong></div>
                    </div>
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boardie</strong></div>
                    </div>
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boarda</strong></div>
                    </div>
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boardodo</strong></div>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="team-heading">
                    <div class="team-name">teamie</div>
                    <div class="expand-btn">+</div>
                </div>
                <div class="team-boards">
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boardo</strong></div>
                    </div>
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boardie</strong></div>
                    </div>
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boarda</strong></div>
                    </div>
                    <div class="board-item">
                        <div class="board-icon"></div>
                        <div class="board-name"><strong>boardodo</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- profile sidebar for navigation -->
    <div class="profile-sidebar">
        <div id="profile-content">
            <div class="profile-heading">First Last (FL)</div>
            <div class="log-out">Log Out</div>
        </div>
    </div>

    <!-- notifications sidebar for navigation -->
    <div class="notifications-sidebar">
        <div id="notifications-content">
            <div class="heading">Notifications</div>
        </div>
    </div>
</body>

</html>