<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/listMediaChanges.css"/>
    <link rel="stylesheet" href="/stylesheets/navbar.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.7/lib/sortable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.7/lib/draggable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.7/lib/droppable.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/javascripts/lists.js"></script>
    <script src="/javascripts/card_info.js"></script>
    <script src="/javascripts/navbar.js"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav id="navbar">
        <ul class="left">
            <li id="home-nav">
                <a><i class="fas fa-home"></i></a>
            </li>
            <li id="boards-nav">
                <i class="fas fa-clipboard-list"></i> Boards
            </li>
            <li id="search-nav">
                <div id="show-search-input"></div>
                <div class="search-icon"><i class="fas fa-search"></i></div>
            </li>
        </ul>
        <ul class="right">
            <li id="notifications-nav"><i class="fas fa-bell"></i></li>
            <li id="profile-nav"> <%= initials %></li>
        </ul>
    </nav>

    <!-- lists and cards -->
    <div id="content">
        <div id="list-form-container" class="table-cell-active">
                <button id="addColumnBtn" class="active">+ Add a list</button>
                <form id="newColumnForm">
                    <input type="text" id="listTitleInput" value=""/>
                    <button id="newColSubmit" value="Submit Here">Add List</button>
                    <button id="closeColumnFormBtn">X</button>
                </form>
        </div>
    </div>

    <!-- card information -->
    <div class="card-info-modal">
        <div class="modal-background"></div>
        <div class="modal-info-container">
            <div id="close-modal-info-btn"><i class="fas fa-times"></i></div>
            <ul class="main">
                <li id="title-content">
                    <h3><i class="far fa-window-maximize"></i>Title</h3>
                </li>
                <li id="labels-content">
                    <span><i class="fas fa-tags"></i>Labels</span>
                    <div class="labels-container">
                        <div contenteditable="true" id="label-input"></div>
                    </div>
                </li>
                <li id="description-content">
                    <span><i class="fas fa-list"></i>Description</span>
                    <div id="description">hello</div>
                </li>
                <li id="comment-content">
                    <span><i class="fas fa-comment"></i> Add Comment</span><br>
                    <div class="profile-new-comment">HL</div>
                    <form id="comment-form">
                        <textarea id="comment-input"></textarea><br>
                        <input id="save-comment" type="submit" value="save" disabled/>
                    </form>
                </li>
                <li id="activity-content">
                    <span><i class="fas fa-chart-line"></i>Activity</span>
                    <div id="activity-container"></div>
                </li>
            </ul>
        </div>
    </div>


    <!-- board sidebar for navigation -->
    <div class="boards-sidebar">
        <div id="sideboards-content">
            <!-- Personal Boards -->
            <% if (0 < personalboards.length) { %>
                <div class="team-item">
                    <div class="team-heading">
                        <div class="team-name">Personal Boards</div>
                        <div class="expand-btn">-</div>
                    </div>
                    <div class="team-boards active">
                        <% for(let i=0; i<personalboards.length; ++i) { %>
                            <% if (20 < personalboards[i].name.length) personalboards[i].name = personalboards[i].name.substring(0,20) + '...'; %>
                            <a class="board-item" href=<%= '/b/'+personalboards[i].id+'/'+personalboards[i].name.replace(/ /g,'-') %>>
                                <div class="board-icon"></div>
                                <div class="board-name"><strong><%= personalboards[i].name %></strong></div>
                            </a>
                        <% } %>
                    </div>
                </div>
            <% } %>
            <!-- Team Boards -->
            <% for(let i=0; i<teams.length; ++i) { %>
                    <% let team = teams[i]; %>
                    <% let boards = team.boards; %>
                    <% if (boards[0] == null ) continue; %>
                    <% if (20 < team.teamName.length) team.teamName = team.teamName.substring(0,20) + '...'; %>
                <div class="team-item">
                        <div class="team-heading">
                            <div class="team-name"><%= team.teamName %></div>
                            <div class="expand-btn">-</div>
                        </div>
                        <div class="team-boards active">
                            <% if (boards[0] != null) { %>
                                <% for(let j=0; j<boards.length; ++j) { %>
                                    <% if (20 < boards[j].name.length) boards[j].name = boards[j].name.substring(0,20) + '...'; %>
                                    <a class="board-item" href=<%= '/b/'+boards[j].id+'/'+boards[j].name.replace(/ /g,'-') %>>
                                        <div class="board-icon"></div>
                                        <div class="board-name"><strong><%=boards[j].name %></strong></div>
                                    </a>
                                <% } %>
                            <% } %>
                        </div>
                </div>
            <% } %>
        </div>
    </div>

    <!-- profile sidebar for navigation -->
    <div class="profile-sidebar">
        <div id="profile-content">
            <div class="profile-heading">First Last (FL)</div>
            <div class="log-out">Log Out</div>
        </div>
    </div>

    <!-- notifications sidebar for navigation -->
    <div class="notifications-sidebar">
        <div id="notifications-content">
            <div class="heading">Notifications</div>
        </div>
    </div>
</body>